:root{
--graphite: #363636ff;
--jet-black: #242f40ff;
--golden-bronze: #cca43bff;
--alabaster-grey: #e5e5e5ff;
--white: #ffffffff;
}

.nav-t{
  background-color: var(--jet-black);
}

.marquee-t{
  width: 100%;
  font-size: x-large;
  color: var(--golden-bronze);
}

.carousel-text-t{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 35%;
  color: var(--alabaster-grey);
  font-size: x-large;
}

#About{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

#About h1{
  color: var();
}

.about-main-t{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: var(--white);
}

.allcards-t{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  height: 70vh;
  width: 40vh;
  padding: 20px;
  font-size: x-large;
  gap: 30px;
  background-color: var(--alabaster-grey);
}

.allcards-t h2{
  color: var();
  font-size: 30px;
}

@media (max-width: 575.98px) {
  .carousel-item{
        height: 10vh;
        display:none;

  }

.carousel-item{height: inherit;}

}